@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700i,800');

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

h1,
h2,
h3,
h4,
h5,
h6,
span.card-title{
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold !important;
}

html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #141d26 !important;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: white !important;
}

main {
    padding-top: 3rem !important;
}

.box{
    border: 0 !important;
    background: none !important;
    display: block !important;
    margin: 20px auto !important;
    border: 2px solid #d4a0ff !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    width: auto !important;
    outline: none !important;
    border-radius: 24px !important;
    transition: 0.25s !important;
    height: 10px !important;
}

.flat-purple{
    background-color: #d4a0ff !important;
}

.flat-purple-text{
    color: #d4a0ff !important;
}

.twitter-background{
    background-color: #141d26 !important;
}

.twitter-foreground-text{
    color: #243447 !important;
}

.twitter-foreground-text > strong{
    color: #243447 !important;
}

.collapsible,
.collapsible-header,
.card,
.twitter-foreground{
    background-color: #243447 !important;
}

.collapsible,
.collapsible-header,
.collapsible-body{
    border: 0px !important;
}

.rounded{
    border-radius: 24px !important;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.btn-flat:hover{
    background-color: #243447 !important;
    color: white !important;
}

input{
    color: white !important;
}

.divider{
    background-color: #141d26 !important;
}

.btn{
    color: white !important;
}

.btn-floating{
    top: -1rem !important;
    right: -1rem !important;
    background-color: #c51f5d !important;
}

body::-webkit-scrollbar-track{
	background-color: #141d26;
}

body::-webkit-scrollbar{
	width: 6px;
	background-color: #141d26;
}

body::-webkit-scrollbar-thumb{
	border-radius: 20px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #243447;
}

.input-field > select > option,
.input-field > select > option:disabled,
ul.select-dropdown > li{
    background-color: #243447 !important;
}

ul.select-dropdown > li > span{
    color: white !important;
}

ul.select-dropdown > li.disabled > span{
    color: lightgray !important;
}