{% extends "template.html" %}
{% block title %}Goals{% endblock %}
{% block content %}
<div class="row">
	<div class="col s12 m8 offset-m4">
        <h3>Your goals <a href="{{ url_for('logout') }}"><i class="material-icons">logout</i></a></h3>
	</div>
</div>
<div class="row">
	<div class="col s12 m4">
        <div class="row">
            <div class="col s12">
                <div class="card hoverable">
                    <div class="card-content">
                        <h4>₱ <span>{{ commarize(currentMoney) }}</span></h4>
                        <small class="grey-text lighten-2">Current Money</small>
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <div class="col m5 s12">
                                <input type="number" min="1" class="validate" placeholder="Add money" name="money" form="form2" required>
                            </div>
                            <div class="col m5 s12">
                                <input type="text" class="validate" id="title1" form="form2" name="title" required placeholder="Money origin">
                            </div>
                            <div class="col m2">
                                <input type="hidden" name="from" form="form2" value="expenses">
                                <button class="btn btn-flat" type="submit" form="form2"><i class="material-icons">add</i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="{{ url_for('add_money') }}" method="post" id="form2"></form>
            </div>
        </div>
        {% for income in incomes %}
		<div class="row">
			<div class="col s12">
				<div class="card hoverable expense">
					<div class="card-content">
						<span class="card-title">{{ income.title }}</span>
						<h6>₱ {{ commarize(income.amount) }}</h6>
						<small class="grey-text">{{ income.timestamp }}</small>
					</div>
				</div>
			</div>
		</div>
        {% endfor %}
        <div class="row">
            <div class="col s12 center-align">
                <p class="grey-text">Click <a href="{{ url_for('income') }}">here</a> to view more income statements.</p>
            </div>
        </div>
	</div>
	<div class="col s12 m8">
        <div class="row">
            <div class="col s12">
                <div class="card horizontal">
                    <div class="card-image">
                        <div
                            id="dslr"
                            class="ldBar label-center"
                            data-type="fill"
                            data-value="0"
                            data-img="{{ url_for('static', filename='goals/dslr.svg') }}"
                            style="max-width: 100px !important; max-height: 100px !important;"
                        ></div>
                    </div>
                    <div class="card-content">
                        <span class="card-title">DSLR</span>
                        <h6>₱ {{ commarize(8000) }}</h6>
                        <p class="hide">8000</p>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{% endblock %}
{% block onload_script %}
let currentMoney = {{ currentMoney }};
let dslrprice = 8000.00;
let dslr = new ldBar('#dslr');
dslr.set((currentMoney / dslrprice) * 100);
{% endblock %}