{% extends "template.html" %}
{% block title %}Expenses{% endblock %}
{% block content %}
<div class="row">
	<div class="col s12 m8 offset-m4">
        <h3>Your expenses <a href="{{ url_for('logout') }}"><i class="material-icons">logout</i></a></h3>
	</div>
</div>
<div class="row">
	<div class="col s12 m4">
        <div class="row">
            <div class="col s12">
                <div class="card hoverable">
                    <div class="card-content">
                        <h4>₱ <span>{{ commarize(currentMoney) }}</span></h4>
                        <small class="grey-text lighten-2">Current Money</small>
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <div class="col m5 s12">
                                <input type="number" min="1" class="validate" placeholder="Add money" name="money" form="form2" required>
                            </div>
                            <div class="col m5 s12">
                                <input type="text" class="validate" id="title1" form="form2" name="title" required placeholder="Money origin">
                            </div>
                            <div class="col m2">
                                <input type="hidden" name="from" form="form2" value="expenses">
                                <button class="btn btn-flat" type="submit" form="form2"><i class="material-icons">add</i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="{{ url_for('add_money') }}" method="post" id="form2"></form>
            </div>
        </div>
        {% for income in incomes %}
		<div class="row">
			<div class="col s12">
				<div class="card hoverable expense">
					<div class="card-content">
						<span class="card-title">{{ income.title }}</span>
						<h6>₱ {{ commarize(income.amount) }}</h6>
						<small class="grey-text">{{ income.timestamp }}</small>
					</div>
				</div>
			</div>
		</div>
        {% endfor %}
        <div class="row">
            <div class="col s12 center-align">
                <p class="grey-text">Click <a href="{{ url_for('income') }}">here</a> to view more income statements.</p>
            </div>
        </div>
	</div>
	<div class="col s12 m8">
		<div class="row">
			<div class="col s12">
				<ul class="collapsible">
					<li class="hoverable">
						<div class="collapsible-header"><i class="material-icons">add</i>New Expense</div>
						<div class="collapsible-body">
							<div class="input-field" style="margin-top: 0px !important; padding-top: 0px !important;">
								<input type="text" class="validate" id="title" form="form1" name="title" required>
								<label for="title">Title</label>
							</div>
							<div class="input-field">
								<input type="number" min="1" class="validate" id="amount" form="form1" name="amount" required>
								<label for="amount">Amount</label>
							</div>
							<div class="input-field">
								<select name="category" id="category" form="form1" required>
									<option value="" disabled selected>Choose the category</option>
									<option value="commute">Commute</option>
									<option value="food">Food</option>
									<option value="luxury">Luxury</option>
									<option value="rent">Rent</option>
									<option value="utilities">Utilities</option>
								</select>
								<label for="category">Category</label>
							</div>
							<div class="right-align">
								<button class="btn btn-flat" form="form1">submit</button>
							</div>
						</div>
					</li>
				</ul>
				<form action="{{ url_for('add_expense') }}" method="post" id="form1"></form>
			</div>
		</div>
		{% for expense in expenses %}
		<div class="row">
			<div class="col s12">
				<div class="card hoverable expense">
					<div class="card-content">
						<span class="card-title">{{ expense.title }}</span>
						<a class="btn-floating halfway-fab hide" href="{{ url_for('delete_expense', objectid=expense._id) }}"><i class="material-icons">close</i></a>
						<h6>₱ {{ commarize(expense.amount) }}</h6>
						<small class="grey-text">{{ expense.timestamp }}</small>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
{% block onload_script %}
$('.expense').each(function(){
	let $this = $(this);
	$this.mouseenter(function(){
		let $delete_button = $this.find('a.btn-floating');
		$delete_button.removeClass('hide');
	});
	$this.mouseleave(function(){
		let $delete_button = $this.find('a.btn-floating');
		$delete_button.addClass('hide');
	});
});
{% endblock %}