{% extends "template.html" %}
{% block title %}Income{% endblock %}
{% block content %}
<div class="row">
	<div class="col s12 m8 offset-m4">
		<h3>Your income <a href="{{ url_for('logout') }}"><i class="material-icons">logout</i></a></h3>
	</div>
</div>
<div class="row">
	<div class="col s12 m4">
		<div class="card hoverable">
			<div class="card-content">
				<h4>₱ <span>{{ commarize(currentMoney) }}</span></h4>
				<small class="grey-text lighten-2">Current Money</small>
			</div>
			<div class="card-action">
				<div class="row">
					<div class="col s5">
						<input type="number" min="1" class="validate" placeholder="Add money" name="money" form="form2" required>
                    </div>
                    <div class="col s5">
                        <input type="text" class="validate" id="title1" form="form2" name="title" required placeholder="Money origin">
                    </div>
					<div class="col s2">
                        <input type="hidden" name="from" form="form1" value="income">
						<button class="btn btn-flat" type="submit" form="form2"><i class="material-icons">add</i></button>
					</div>
				</div>
			</div>
		</div>
		<form action="{{ url_for('add_money') }}" method="post" id="form2"></form>
        <div class="row">
            <div class="col s12 center-align">
                <p class="grey-text">Click <a href="{{ url_for('home') }}">here</a> to view expenses.</p>
            </div>
        </div>
	</div>
	<div class="col s12 m8">
		{% for income in incomes %}
		<div class="row">
			<div class="col s12">
				<div class="card hoverable expense">
					<div class="card-content">
						<span class="card-title">{{ income.title }}</span>
						<a class="btn-floating halfway-fab hide" href="{{ url_for('delete_income', objectid=income._id) }}"><i class="material-icons">close</i></a>
						<h6>₱ {{ commarize(income.amount) }}</h6>
						<small class="grey-text lighten-2">{{ income.timestamp }}</small>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
{% block onload_script %}
$('.expense').each(function(){
	let $this = $(this);
	$this.mouseenter(function(){
		let $delete_button = $this.find('a.btn-floating');
		$delete_button.removeClass('hide');
	});
	$this.mouseleave(function(){
		let $delete_button = $this.find('a.btn-floating');
		$delete_button.addClass('hide');
	});
});
{% endblock %}