{% extends "template.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row">
	<div class="col s12 center-align">
		<h3>Login</h3>
	</div>
</div>
<div class="row">
	<div class="col s12 m4 offset-m4 center-align">
		<div class="input-field">
			<input type="text" class="box" name="username" form="form1" placeholder="Username">
		</div>
		<div class="input-field">
			<input type="password" class="box" name="password" form="form1" placeholder="Password">
		</div>
		<button class="btn rounded flat-purple twitter-foreground-text" type="submit" form="form1"><strong>login</strong></button>
	</div>
</div>
<form action="{{ url_for('login') }}" id="form1" method="POST"></form>
{% endblock %}