<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='loading-bar.css') }}">
    <title>{% block title %}{% endblock %} | Budgeter</title>
</head>

<body>
	<main>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='loading-bar.js') }}"></script>
    <script>
        $(document).ready(() => {
            M.AutoInit();
            let $main = $('main');
            $(".navigation__icon").click(function () {
                $(".navigation").toggleClass('navigation-open');
            });
            {% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						M.toast({
							html: `{{ message }}`,
							classes: 'rounded',
						});
					{% endfor %}
				{% endif %}
			{% endwith %}
            {% block onload_script %}
            {% endblock %}
        });
        {% block offload_script %}
        {% endblock %}
    </script>
</body>

</html>